*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

/* =================
   Navbar
================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 45px 30px;
    max-height: 125px;
}

.logo-all {
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 1.5rem;
    color: #2296b6;
}

.menu-items {
    display: flex;
    font-weight: 600;
    
    
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.menu-items li {
    list-style: none;
    margin-right: 25px;
    font-size: 1.5rem;
    color: #2296b6;
    cursor: pointer;
    letter-spacing: 0.5px;
    position: relative;
    padding: 0 10px;
    
    
}

.menu-items li:after {
    content: "";
    position: absolute;
    background-color: #0b5c72;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu-items li:hover,
.menu-items li:focus {
    color: rgba(0, 0, 0, 0.25)
}

.menu-items li:hover:after,
.menu-items li:focus:after {
    width: 100%;
}

.header ul li a,
.header ul li {
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {
.menu-items li {
    margin-right: 10px;
    font-size: 1.25rem;
}
.logo-name {
    font-size: 1.25rem;
}

}

@media (max-width: 850px) {

}

/*Spinner */
.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Login */
.container-access {
    display: flex;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
}

.container-title-icon {
    margin-top: 50px;
    margin-bottom: 35px;
    color: blue;
    font-size: 26px;
}

.container-title-icon h1 {
    display: flex;
    align-items: center;
}

.form-input {
    margin-bottom: 1.5em;
}

.input-access {
    background-color: #fff;
    color: #333333;
    font-size: 18px;
    height: 50px;
    width: 350px;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: solid 1px #bcc2ce;
    outline: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }

.btn {
    margin-top: 1em;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-access {
    display: flex;
    justify-content: center;
}

.right-side,
.left-side {
    padding: 0 3em;
}

.right-side {
    margin-top: 50px;
}

.title-offer-account {
margin-bottom: 1em;
}
.benefits-offer-account {
    margin-top: 1em;
}
.link-register {
    margin-top: 2em;
    color: blue;
    font-size: 1.25rem;
    font-weight: 700;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-text {
    text-align: center;
}

/* =================
   HomePage
================= */
.homepage-body {
    margin: 2em 0;
}

.img-hero {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3em;
}

.title-hero {
    text-align: center;

}

.title-call {
    font-size: 3rem;
    max-width: 70vw;
    padding-bottom: 0.5em;
    margin: 0 auto;
    text-align: center;
    color: blue;

}

.subtitle-call {
    font-size: 1.75rem;
    max-width: 60vw;
    margin: 0 auto;
    padding-bottom: 60px;
    color: rgba(50, 50, 50, 0.5)
}

/* Order Form*/
.input-shipment {
    background-color: #fff;
    color: #333333;
    font-size: 18px;
    height: 30px;
    width: 450px;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: solid 1px #bcc2ce;
    outline: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
}

label {
    margin: 0 10px;
    font-weight: 600;
}

.form-group {
    display: flex;
}

.form-individual {
    display: flex;
    flex-direction: column;
}

.short-input {
    width: 100px;
}

.medium-input {
    width: 330px;
}



.image-display {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3em;
}

.image-display-container{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    max-width: 450px;
    max-height: 300px;

}

.images-container {
    display: flex;
    justify-content: center;
}


.container-sidebar {
    background-color: #2296b6;
    width: 250px;
    padding: 20px 5px;
}

.dashboard-container {
    display: flex;
}


.tittle-create-ship {
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn-ship{
    margin-left: 10px;
}
